body {
    display: flex;
    flex: left;
    width: 568px;
    height: 108px;
    left: 136px;
    top: 177px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.section {
    margin-top: 100px;   
    margin-bottom: 50px;
    padding: 20px;      
  }  
.hero-section {
    background-color: #e8f0ff;
    padding: 50px 0;
}
.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.hero-section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.custom-list {
    list-style: none; 
    padding-left: 0;  
}
.custom-list img {
    width: 20px;      
    margin-right: 10px; 
    vertical-align: middle; 
}  
.custom-list li {
    margin-bottom: 10px; 
}
.why-us-section {
    padding: 50px 0;
}
.why-us-section h2 {
    margin-bottom: 30px;
    text-align: left;
}
.why-us-section .card {
    border: none;
    text-align: left;
}
.slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Sesuaikan jumlah kolom */
    grid-auto-flow: column;
    overflow-x: hidden;
}
.slide {
    width: 100%;
    height: 200px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}
.slide:not(:first-child) {
    transform: translateX(100%);
}
.testimonials {
    background-color: #f5f5f5;
    padding: 50px 0;
    position: absolute;
    height: 36px;
    left: 33.86%;
    right: 35.24%;
    top: 1540px;
}
.testimonial-item {
    margin-bottom: 30px;
}
.cta-section {
    background-color: #0046d5;
    color: white;
    padding: 50px 0;
    text-align: left;
}
.faq-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 668px;
    height: 344px;
    left: 636px;
    top: 2504px;
}
footer {
    padding: 30px 0;
    background-color: #f8f9fa;
}